# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\java\projects\learn-juc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
